/UsuarioRepetidoException.class
/actividadNoExisteException.class
/departamentoNoExisteException.class
/proveedorNoExisteException.class
/salidaNoExisteException.class
/usuarioNoExisteException.class
