/UsuarioRepetidoException.class
/actividadNoExisteException.class
/departamentoNoExisteException.class
/proveedorNoExisteException.class
/salidaNoExisteException.class
/salidaYaExisteException.class
/usuarioNoExisteException.class
/usuarioTipoIncorrectoException.class
