.navbar{
	background-color: #fbf7f0;
	box-shadow: 10px 10px 10px rgba(1, 41, 112, 0.1);
	height: 60px;
	padding: 20px;
}


.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 230px;
  padding: 20px;
  padding-left: 0px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 10px 10px 10px rgba(1, 41, 112, 0.1) inset;
  background-color: #fbf7f0;
}

.accordion{
	 padding-left: 20px;
}

.logopic{
position: fixed;
  width: 120px;
  height: 40px;
}