.navbar{
	background-color: #fbf7f0;
	box-shadow: 10px 10px 10px rgba(1, 41, 112, 0.1);
	height: 60px;
	padding: 20px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 230px;
  padding: 20px;
  padding-left: 0px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 10px 10px 10px rgba(1, 41, 112, 0.1) inset;
  background-color: #fbf7f0;
}

.ref {
	text-decoration: none;
	color: #2f3131;
}

.accordion{
   padding-left: 20px;
}

.logopic{
  width: 116px;
  height: 39px;
  padding-left: 5px;
  
}

.cerrarSesion-item{
	padding-top: 20px;
}

.section{
	overflow:scroll;
	position: fixed;
	top: 60px;
	left: 230px;
	bottom: 0;
	width: calc(100vw - 230px);
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: scroll;
	padding: 0px;
	box-shadow: 10px 10px 10px rgba(1, 41, 112, 0.1) inset;
	background-color: #fbf7f0;
}


/* ESTILOS PARA INSCRIPCION A SALIDA */

h1.section-header{
	position: absolute; 
	padding-top: 3%;
	left: 4%; 
	color: black; 
}

h2.instruction{
	position: absolute; 
	padding-top: 10%;
	left: 4%; 
	color: black; 
}

/* PASO 1 */

#title-form-select-dpto{
	position: absolute; 
	top: 32%; 
	left: 4%; 
	width: 70%;
	color: black; 
}

#form-select-dpto{
	position: absolute; 
	top: 38%; 
	left: 4%; 
	width: 70%;
}

#title-form-select-cat{
	position: absolute; 
	top: 50%; 
	left: 4%; 
	width: 70%;
	color: black; 
}

#form-select-cat{
	position: absolute; 
	top: 56%; 
	left: 4%; 
	width: 70%;
	color: black; 
}

#button-continuar{
	position: absolute; 
	top: 70%; 
	left: 4%; 
	color: black; 
}

/*PASO 2, 3 y 5*/

.texto-actsInsc{
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: 3.7em; /* Fallback for non-webkit, line-height * 5 */
	line-height: 1.2em;
	-webkit-line-clamp: 5; /* if you change this, make sure to change the fallback line-height and height */
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-y: scroll;
}

.contenedor-actSal{
	position: absolute;
	top: 35%; 
	left: 4%; 
	width: 65%;
	overflow: hidden;
	overflow-y: scroll;
	transition: transform .4s;
}

.contenedor-actSal:hover{
	transform: scale(1.05);
}

.contenedor-img-actSal{
	text-align:center;	
}

.img-actSal{
	width:100%;
	text-align:center;
}

.item-listados{
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	height: 2.7em; /* Fallback for non-webkit, line-height * 5 */
	line-height: 1.1em;
	-webkit-line-clamp: 5; /* if you change this, make sure to change the fallback line-height and height */
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow-y: scroll;
}

/* PASO 4 */

#form-cantTuristas{
	position: absolute; 
	top: 35%;
	width: 41%;
	left: 4%;
}

.eleccion-con-paquete{
	position: absolute; 
	top: 50%;
	left: 4%;
}

#button-continuarP4{
	position: absolute; 
	top: 70%; 
	left: 4%; 
	color: black; 
}

/*PASO EXITO*/
#tic-img{
	position: absolute; 
	top: 25%; 
	left: 33%; 
	width:25%;
}

#title-exitoInsc{
	position: absolute; 
	left: 15%; 
}

#button-continuarPE{
	position: absolute; 
	top: 80%; 
	left: 39.5%; 
	color: black;
}

/*Estilos altaActividad y altaSalida*/

.headerAltaActSal{
	margin-bottom: 20px;
	margin-left:70px;
	margin-top: 40px;
	color: #2f3131; 
}

.formAltaActSal{
    margin-left: 70px;
    margin-top: 30px;
   	margin-right: 40%;
}

.lbltxt{
	font-size: 20px;
	color: #2f3131;

}

.inputbox{
	width: 300px;
	margin-top:10px;
	margin-bottom:10px;
	height: 30px;
}

#btnAceptar{
	margin-top: 10px;
}


/*COMPRA DE PAQUETE*/

/*PASO 1*/
.contenedor-paqCompra{
	position: absolute;
	top: 35%; 
	left: 4%; 
	width: 80%;
	overflow: hidden;
	overflow-y: scroll;
	transition: transform .4s;
}

.contenedor-paqCompra:hover{
	transform: scale(1.05);
}
/*PASO 2*/
#form-cantTuristasPaq{
	position: absolute; 
	top: 35%;
	width: 41%;
	left: 4%;	
}

#button-confirmarCom{
	position: absolute; 
	top: 50%;
	left: 4%;
}
/*PASO DE EXITO*/
#button-inicioCom{
	position: absolute; 
	top: 80%; 
	left: 22%; 
	width: 20%;
	color: black;
}

#button-repetirCom{
	position: absolute; 
	top: 80%; 
	left: 48%; 
	width: 20%;
	color: black;
}

/* ESTILOS PARA CONSULTA Y LISTADO DE PAQUETE */

#container-cards-paquete{
	position: absolute;
	top: 16%;
	left: 3%;

}

#flex-cards-paquete{
	gap: 10px;
	flex-flow: row wrap;
	display: flex;
}

#paquete-card:hover{
	transform: scale(1.05);
}
#paquete-card{
	transition: transform .4s;
}


#card-body-paquete{
	display: flex;
	flex-direction: column;
}


#card-img-paquete{
  	width: 100%;
    height: 15vw;
    object-fit: cover;
}

#container-paquete{
	position: absolute;
	top: 16%;
	left: 3%;
	display: flex;
	flex-direction:column;
	
}


#img-paquete{
	width:100%;
	heigth:100%;
	max-width: 500px;
	max-height: 700px;
}

#section-paquete-1{
	overflow-y: auto;
}

#section-paquete{
	overflow-y: auto;
	display: flex;
	flex-direction: column;

}

#flex-actividades-paquete{
	gap: 10px;
	flex-flow: row wrap;
	display: flex;
}

/* ESTILOS PARA LISTADO Y CONSULTA DE USUARIO */
#section-listdo-usuarios{
	overflow-y: auto;
}

#flex-cards-usuarios{
	gap: 10px;
	flex-flow: row wrap;
	display: flex;
}

#container-cards-usuarios{
	position: absolute;
	top: 16%;
	left: 3%;

}


#usuario-card:hover{
	transform: scale(1.05);
}
#usuario-card{
	transition: transform .4s;
}

#card-img-usuario{
  	width: 100%;
    height: 15vw;
    object-fit: cover;
}

#container-detalle-turista{
	position: absolute;
	top: 16%;
	left: 3%;
	display: flex;
	flex-direction:column;
	
}

#container-cards-paquete-usuario{
	position: absolute;
	top: 115%;
	left: 3%;

}

#container-cards-salidas-usuario{
	position: absolute;
	top: 115%;
	left: 3%;

}

#container-cards-actividades-usuario{
	position: absolute;
	top: 115%;
	left: 3%;

}

#section-usario-detalle{
	overflow-y:auto;
}

#informacion-usuario{
	overflow-y:auto;
}



/* ESTILOS PARA CONSULTA DE ACTIVIDAD */

/* LISTAR ACTIVIDADES */

h1.section-header-acts{
	position: absolute; 
	top: 40px;
	left: 40px;
	color: black;
	z-index: 1;
}

.max-lines {
	display: block;
	display: -webkit-box;
	height: 4.5em; /* calcular a partir de line-height por la cantidad de lineas */
	line-height: 1.5em;
	-webkit-line-clamp: 3; /* aca se pone cantidad de lineas */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contenedor-actividad{
	transition: transform .4s;
}

.contenedor-actividad:hover{
	transform: scale(1.05);
}

/* VER DATOS ACTIVIDAD */
#contenedor-verAct{
	position: absolute;
	top: 30px;
	left: 50px;
	right: 15px;
}

.contenedor-verSalPaq{
	transition: transform .4s;
}
.contenedor-verSalPaq:hover{
	transform: scale(1.05);
}

.columnSalPaq{
	position: absolute;
	top: 60px;
	width: 230px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.letra-agr{
	transition: transform .4s;
}

.letra-agr:hover{
	transform: scale(1.05);
}




